configuration.ini
configuration.php
config.ini
Game/Java\ Module/.idea/
.idea/
.vscode/*
frontend/config.env
frontend/src/env.d.ts
frontend/node_modules/
frontend/package-lock.json
frontend/package.json
Game/C/datafiles/*.txt
Game/server/env-py/
Game/server/data/__pycache__
Game/server/classes/__pycache__
api/vendor