RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Si une requête est pour un fichier existant, autorise la
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Pour toutes les autres requêtes, redirige vers index.html
  RewriteRule ^ index.html [L]
</IfModule>