.required {
    color: rgb(228, 16, 16);
    font-size: 18px;
}

/* Styles pour les champs de saisie */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--parchment)!important;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    background-color: var(--brunswickGreen)!important;
    color: white!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5)!important;
}

.password-input {
    display: flex;
    align-items: center;
    position: relative;
}

#password,
#confirm-password {
    width: 100%;
    padding: 10px;
    margin-right: 40px; /* Ajout de marge à droite pour le bouton "œil" */
    border: 1px solid var(--parchment)!important;
    border-radius: 5px;
}

#toggle-password > img,
#toggle-confirm-password > img {
    width: 16px; /* Ajustez la taille de l'image selon vos besoins */
    height: 16px; /* Ajustez la taille de l'image selon vos besoins */
    vertical-align: middle; /* Centrez l'image verticalement */
    filter: invert(1);
}

#toggle-password,
#toggle-confirm-password {
    position: absolute;
    right: 0; /* Positionne le bouton à droite */
    cursor: pointer;
    padding: 9px;
    margin: 10px 0;
    border: 1px solid var(--parchment);
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    background-color: var(--brunswickGreen);
}

/* Styles pour les conditions du mot de passe et de l'email */
#password-conditions,
#email-condition {
    font-size: 14px;
    color: var(--tan);
    text-align: left;
}

#password-conditions ul {
    padding-left: 0;
}

#password-conditions li,
#email-condition {
    list-style: none;
    margin-bottom: 5px;
    text-align: left;
}

#email-condition.valid,
#password-conditions li.valid {
    color: var(--parchment);
}

.correct {
    border: 1px solid #479400;
}

/* Styles pour le bouton de soumission */
#submit-button,
#connection-button {
    margin: 0 auto;
    display: block;
    border-radius: 15px!important;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

#submit-button[disabled] {
    background-color: var(--coffee);
    cursor: not-allowed;
    color: #fff;
    width: 100%;
}

#submit-button:not([disabled]),
#connection-button {
    background-color: var(--coffee)!important;
    color: #fff;
    margin-top: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
}

@media (max-width: 600px) {
    /* Ajustements pour les champs de saisie */
    input {
        width: calc(100% - 20px);
        /* Le calcul prend en compte la marge totale des champs de saisie */
    }

    /* Ajustements pour les libellés */
    label {
        text-align: center;
    }
}
