/* Style de l'overlay */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--coffee); /* Fond semi-transparent */
  opacity: 0.9;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Assure que l'overlay soit au-dessus du contenu */
  transition: opacity 0.5s ease-in-out; 
}

/* Style du spinner */
.spinner {
  border: 5px solid var(--brunswickGreen); /* Couleur du spinner */
  border-top: 5px solid var(--viridian); /* Couleur du spinner en mouvement */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation du spinner */
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hide-loading {
  opacity: 0; /* Opacité lors de la disparition */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
