table thead th {
    background-color: var(--brunswickGreen)!important;
    color: var(--parchment)!important;
}

table tbody tr:nth-child(even) {
    background-color: var(--brunswickGreen)!important;
}

table tbody tr:nth-child(odd) {
    background-color: var(--coffee)!important;
}

table tbody td {
    color: var(--coffee)!important;
}

table tbody tr:hover {
    background-color: var(--tan)!important;
    color: var(--parchment)!important;
}