.acceptRefuseFriendRequest-accept {
    background-color: var(--viridian)!important;
}

.acceptRefuseFriendRequest-accept:hover {
    background-color: var(--viridian-hover)!important;
}

.acceptRefuseFriendRequest-accept:active {
    background-color: var(--viridian-active)!important;
}

.acceptRefuseFriendRequest-accept:focus {
    background-color: var(--viridian-focus)!important;
}

.acceptRefuseFriendRequest-refuse {
    background-color: var(--auburn)!important;
}

.acceptRefuseFriendRequest-refuse:hover {
    background-color: var(--auburn-hover)!important;
}

.acceptRefuseFriendRequest-refuse:active {
    background-color: var(--auburn-active)!important;
}

.acceptRefuseFriendRequest-refuse:focus {
    background-color: var(--auburn-focus)!important;
}