/* Styles existants */
.wrapper-info-player-single,
.wrapper-info-player-multi {
    display: inline-flex;
    justify-content: space-evenly;
    background-color: var(--hunterGreen);
    border-radius: 15px;
    box-shadow: 0 4px 4px #00000040;
    margin: auto;
    padding: 0% 2%;
    color: var(--parchment);
    align-items: center;
    flex-wrap: nowrap;
    min-width: calc(max(100px, 40%));
    height: 150px;
}

.wrapper-multi, .wrapper-solo {
    margin: 0 4px;
}

.img-player {
    width: 90px;
}

.player-info {
    color: var(--parchment);
}

.player-info-waiting .name {
    font-weight: bolder;
}

.player-info .name {
    font-size: larger;
}

.frame-info-player {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin: auto;
}

/* Nouveau pour le scrolling horizontal sur tablette et mobile */
@media (max-width: 768px) {
    .wrapper-info-player-single,
    .wrapper-info-player-multi {
        overflow-x: auto;
        white-space: nowrap;
    }

    .frame-info-player {
        display: inline-flex;
        flex-wrap: nowrap;
    }
}