.wrapper-info-game {
  min-width: calc(min(auto, 30%));
  color: var(--parchment);
  height: 150px;
  background-color: var(--hunterGreen);
  border-radius: 15px;
  box-shadow: 0 4px 4px #00000040;
  padding: 0% 5%;
}

.frame-info-game-solo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
}

.component-info-game .title {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.component-info-game .info {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 1200px) {
  .frame-info-game-multi .component-info-game .title{
    width: auto!important;
    font-size: 1rem!important;
  }
  .frame-info-game-multi .component-info-game .info{
    width: auto!important;
    font-size: 1rem!important;
  }
}

@media (max-width: 800px) {
  .wrapper-info-game {
    height: auto;
  }

  .frame-info-game-solo {
    height: 150px!important;
  }
}