.wrapper-list-words {
    width: 15% ;
    border-radius: 15px;
    height: 80vh;
    background-color: var(--parchment);
    color: var(--coffee);
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.wrapper-list-words ol{
    margin: 0 auto;
    width: 40% ;
}

@media (max-width: 800px) {
    .wrapper-list-words {
        width: 40%;
    }
}

@media (max-width: 400px) {
    .wrapper-list-words {
        width: 90%;
    }
}