.MuiDataGrid-root {
    background-color: var(--parchment);
    margin: auto;
    width: 98%;
}

.MuiDataGrid-root .MuiDataGrid-toolbarContainer .MuiButton-root {
    color: var(--coffee);
}

.MuiDataGrid-root .MuiDataGrid-columnHeaders {
    --DataGrid-containerBackground: var(--coffee);
    --DataGrid-color: var(--tan);
    --unstable_DataGrid-radius: 15px;
}

.MuiDataGrid-root .MuiDataGrid-columnHeaderTitle {
    --DataGrid-color: var(--tan);
    color:  var(--tan);
}

.MuiDataGrid-root .MuiDataGrid-row {
    background-color: var(--parchment);
    color: var(--coffee);
}

.MuiDataGrid-root .MuiDataGrid-columnHeader:focus,.MuiDataGrid-root .MuiDataGrid-cell:focus {
    outline: solid var(--coffee) 1px;
}

.MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
    background-color: var(--tan)!important;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: var(--tan)!important;
}

@media (max-width: 1400px) {
    .dataresp {
        width: 60% !important;
    }
}

@media (max-width: 1000px) {
    .dataresp {
        width: 100% !important;
    }
}

.podium-gold {
    background-color: gold!important; 
    color: black!important;
    font-weight: bolder;
}

.podium-silver {
    background-color: silver!important; 
    color: black!important; 
    font-weight: bolder;
}

.podium-bronze {
    background-color: #cd7f32!important; 
    color: black!important; 
    font-weight: bolder;
}