.gif-box-rule {
    height: 150px;
    width: 150px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gif-box-rule p {
    text-align: center;
} 

.gif {
    height: 100%;
    width: auto;
    border-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .gif-box-rule {
        display: none;
    }
    
}