.loader-container {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.loader {
    width: 120px!important;
    height: 120px!important;
}