nav {
    position: fixed;
    top: 20px;
    left: 0;
    width: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    z-index: 2;
}

nav .nav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.nav-content .toggle-btn,
.nav-content span a {
    height: 60px;
    width: 60px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.nav-content .toggle-btn {
    font-size: 35px;
    z-index: 100;
    cursor: pointer;
    transform: rotate(-225deg);
    transition: all 0.6s ease;
}

nav.open .toggle-btn {
    transform: rotate(0deg);
}

.nav-content span {
    position: absolute;
    transition: all 0.6s ease;
    opacity: 0;
}

nav.open .nav-content span {
    transform: rotate(calc(var(--i) * (360deg / 8))) translateY(-100px);
    opacity: 1;
}

.nav-content span a {
    text-decoration: none;
    transform: rotate(45deg);
}

.nav-content span a i {
    font-size: 24px;
    transform: rotate(calc(var(--i) * (360deg / -8)));
    opacity: 0.8;
    transition: 0.2s;
}

.nav-content span a:hover i {
    opacity: 1;
}

i.btn-plus {
    background-image: url(../../../public/img/plus.png);
}

i.btn-presentation {
    background-image: url(../../../public/img/plus.png);
}

i.btn-competences {
    background-image: url(../../../public/img/plus.png);
}

i.btn-parcours {
    background-image: url(../../../public/img/plus.png);
}

i.btn-alternance {
    background-image: url(../../../public/img/plus.png);
}

i.btn-liens {
    background-image: url(../../../public/img/plus.png);
}

i {
    width: 50%;
    height: 50%;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}
