.card {
    background-color: var(--coffee);
    color: var(--parchment);
}

.card-datatable table {
    border-color: var(--tan);
}

.card-datatable th {
    background-color: var(--brunswickGreen);
    color: var(--tan);
}

.card-datatable td {
    background-color: var(--parchment);
    color: var(--brunswickGreen);
}

.dt-action-buttons button {
    background-color: var(--coffee);
    color: var(--parchment);
}

.dt-action-buttons button:hover {
    background-color: var(--tan);
}

option {
    color: var(--brunswickGreen);
}

.dataTables_filter input {
    background-color: var(--tan)!important;
    color: var(--brunswickGreen)!important;
    border: 1px solid var(--brunswickGreen);
}

.dataTables_info,
.dataTables_paginate a {
    color: var(--brunswickGreen);
}

.dataTables_paginate a:hover {
    color: var(--coffee);
}

a, label {
    color: var(--parchment);
}

#HistoyTable {
    max-width: 100%!important;
}