.container-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    background-color: var(--brunswickGreen);
    color: white;
    border-radius: 15%;
    font-weight: bolder;
    margin: 5px;
    width: 50px;
    font-size: larger;
}